body
{
    background-color: aquamarine;

    .navbar{
        padding: 25px;
        font-size: 20px;
        font-style: italic;
        
    }
    .navbar .navbar-brand{
        font-size: 35px;
        font-family: Impact;
        font-style: italic;
        
    }
    

}
