/*Variables*/
$header_color:rgb(236, 236, 128);
$Info_Color: rgb(240, 203, 178);;



/*Herederos*/
/* % es para Clases que pueden heredar xd*/
%Header_Stats
{
    background-color: $header_color;
    padding: 5px;
    font-family: Impact;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

%Body_Stats
{
    background-color: $header_color;
    padding: 5px;
    font-family: Impact;
    font-size: 25px;
    font-style: italic;
    text-align: center;
}
/* Cuando mande a llamar al heredero, aplica todos sus atributos donde
lo invoque */



body
{
    background-color: aquamarine;

    .navbar{
        padding: 25px;
        font-size: 20px;
        font-style: italic;
        
    }
    .navbar .navbar-brand{
        font-size: 35px;
        font-family: Impact;
        font-style: italic;
        
    }
    .card
    {
        width: 350px;
        margin: 20px;
        padding: 20px;
        background-color: beige;

    }
   
    
}

/* Con @extend puedo llamar al Heredero que haga su magia*/
.Meme_Section_Header
{
    @extend %Header_Stats
    
}

.container
{
    background-color: rgb(121, 243, 182);
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
      
}

.meme_flexbox
{
    background-color: rgb(48, 171, 237);
    width: 110%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
}


.Header_Logo
{
    height: 80px;
    width: 330px;
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Header_Logo_Big
{
    height: 150px;
    width: 350px;
    padding-left: 30px;
}

/* Media Query */
@media screen and (max-width: 600px) {
    
    /* Anidamiento */
    .container
    {
        width: 70%;
        height: 70%;
    }
    .meme_flexbox
    {
        width: 50%;
        height: 50%;
    }
    #Layout_Grid_Head
    {
        font-size: 15px;
    }
    #Layout_Grid_Body
    {
        font-size:15px ;
    }
  }


#Layout_Grid_Head
{
   background-color:rgb(73, 83, 87);
   @extend %Header_Stats;
   margin: 20px;
   border-color: black;
   border-radius: 10px;
   border: 100px;
   color: $Info_Color;
}

#Layout_Grid_Body
{
    @extend %Body_Stats;
    background-color: gray;
    margin: 20px;
    border-radius: 10px;
    color: $Info_Color;
}

#Hyperion_Corps
{
    @extend %Header_Stats;
    background-color: rgb(255, 213, 0);
    border-radius: 20px;
    margin: 30px;
    color:white;
}


