body
{
    background-color: aquamarine;

    .navbar{
        padding: 25px;
        font-size: 20px;
        font-style: italic;
        
    }
    .navbar .navbar-brand{
        font-size: 35px;
        font-family: Impact;
        font-style: italic;
        
    }

    
    

}

.Meme_Section_Header
{
    background-color: rgb(196, 186, 186);
    padding: 5px;
    font-family: Impact;
    font-size: 30px;
    font-style: italic;
    text-align: center;
   
}

.container
{
    background-color: rgb(121, 243, 182);
    width: 50%;
    height: 50%;
    
    
    
}

.Header_Logo
{
    height: 80px;
    width: 330px;
    padding-left: 30px;
    
}
.Header_Logo_Big
{
    height: 150px;
    width: 350px;
    padding-left: 30px;
}

@media screen and (max-width: 600px) {
    .container
    {
        width: 70%;
        height: 70%;
    }
  }